.users-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
}

button {
    width: calc(1vw + 7rem);
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.action-col {
    text-align: center;
}

.btn-info {
    background: #0dcaf0 !important;
    width: 3rem;
}

.btn-danger {
    width: 3rem;
}

table.table {
    margin-top: 1rem;
}

.action-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.read-only-user-detail { 
    pointer-events: none;
}

.user-row {
    display: flex;
    gap: 1rem;
}

.form-floating {
    width: 100%;
}

.title {
    padding: 0rem 1rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.transaction {
    margin-bottom: unset !important;
    width: 100%;
}

.transaction-body {
    margin-bottom: 1rem;
}

.transaction-body-container {
    padding: 1rem;
    overflow-y: scroll;
    height: 12rem;
}

p {
    margin-bottom: 0;
}

.transfer-names {
    height: calc(3.5rem + 2px);
}