div#root {
    display: flex;
    flex-direction: column;
    
}

@media (min-width: 768px) {
    div#root {
        flex-direction: unset;
    }
    .side-bar.d-flex.flex-column.flex-shrink-0.p-3.bg-light {
        margin: 10vh 0 0 10vh;
        background-color: unset !important;    
    }
    .routes-container {
        width: 100%;
        margin: 10vh 10vh 0 0;
    }
}

@media (min-width: 769px) and (max-width: 1240px) {
    .side-bar.d-flex.flex-column.flex-shrink-0.p-3.bg-light {
        margin: 5rem 0 5rem         
    }
    
}

.side-bar {
    width: 15rem;
    height: 80vh;      
}


.nav-link {
    display: flex;
    align-items: center;
} 

.menus {
    margin-right: 0.5rem;
}

.rightArrow {
    margin-left: auto;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}


.accordion-item {
    border: unset;
}
.accordion-header {
    color: #fff;
}

.accorder-button {
    background-color: unset;
}

button.accordion-button {
    padding: 0.5rem 1rem;
}

button.accordion-button.collapsed {
    background-color: #f7f7ff !important;
}

ul.btn-toggle-nav.list-unstyled.fw-normal.pb-1.small {
    background-color: #f7f7ff;
}

.accordion-button::after {
transform: rotate(-90deg);
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(0deg);
}

.accordion-body {
    padding: 0;
}

div#exampleModalLive {
    background: rgba(0, 0, 0, 0.5);
}

.modal-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-row {
    display: flex;
    flex-direction: column;
}

.login {
    padding: .375rem .75rem;
}

.login-modal {
    width: 75%; 
}

input.login.form-control {
    width: 100%;
    border-radius: 0.25rem;
}

.login-modal-dialog {
    display: flex;
    justify-content: center;
}


a.navbar-brand {
    width: 14rem;
}

button.navbar-toggler {
    width: 4rem;
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: unset;
    }
}

.mobile-menus {
    background-color: #0d6efd;
    color: #fff !important;
    text-decoration: none;
}

.dropdown-menu.show {
    padding: 0;
}

a.nav-link {
    padding: 0.5rem 1rem !important;
    border-radius: 5px;
}

.hr {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #000;
}

