.side-bar {
    width: 15rem;
    height: 100vh;
}

.nav-link {
    display: flex;
    align-items: center;
} 

.menus {
    margin-right: 0.5rem;
}

.rightArrow {
    margin-left: auto;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}


.accordion-item {
    border: unset;
}
.accordion-header {
    color: #fff;
}

.accorder-button {
    background-color: unset;
}

button.accordion-button {
    padding: 0.5rem 1rem;
}

.accordion-button::after {
transform: rotate(-90deg);
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(0deg);
}

.accordion-body {
    padding: 0;
}

div#exampleModalLive {
    background: rgba(0, 0, 0, 0.5);
}

.modal-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-row {
    display: flex;
    flex-direction: column;
}

.login {
    padding: .375rem .75rem;
}

.login-modal {
    width: 60%; 
}

input.login.form-control {
    width: 100%;
    border-radius: 0.25rem;
}

.login-modal-dialog {
    display: flex;
    justify-content: center;
}